.name{
    text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
}

.inline-block {
    display:inline-block;
    vertical-align:top;
}
.content h2{
    padding-left:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 700;
    background: -webkit-linear-gradient(rgb(207, 47, 47),rgb(49, 10, 224) );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo {
    margin:4px 0 0 50px;
    border-radius: 50%;
    overflow: hidden;
}
.logo img{
    width:50px;
    margin-top:5px;
}
nav.inline-block{
    width:73%;
}
ul {
    width:20%;
    margin-left:auto;
}
li {
   padding:4px 13px;
}

.heroImg{
    height:500px;
    padding:25px;   
}
.content{
    width:800px;
    margin:0 auto;
    padding: 20px;

}
.content .myProfilePic{
    padding:10px 0 20px 200px;
}
.content p{
    padding:10px 0 50px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
   
}
.button ul{
   
   align-content: center;
  
}
footer{
    display:flex;
    background-color: #30CFD0; 
    padding:center;
    position:absolute;
    bottom:0px;
    width:100vw;
    Height:200px;
}

.Navigation{
    display:flex;
    background-color:#30CFD0; 
    height:60px;
    justify-content: space-between;
}
body{
    margin:0px;
}
.resume-header{
    font-size: 16px;
    font-weight: bold ;
    text-align: center;
    margin-bottom: 0;

}
.resume-section{
    width:120px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.resume-container{
    display:flex;
    justify-content: flex-end;
}


